name: Github Stale Issues Check

on:
  schedule:
    - cron: '59 23 * * *'  # Run every day just before midnight

jobs:
  close_stale_prs:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
    steps:
      - name: Close stale issues
        uses: actions/stale@b5d41d4e1d5dceea10e7104786b73624c18a190f # v10
        with:
          any-of-labels: 'Needs more info'
          stale-issue-message: 'This issue is stale because it has been open 21 days with no activity. Please comment on this issue otherwise it will be closed in 7 days.'
          close-issue-message: 'This issue was closed because it has been stalled for 7 days with no activity.'
          days-before-issue-stale: 21
          days-before-issue-close: 7
